<div class="back-app w-[100vw] h-[100vh]">
    <header class="w-full md:px-6 md:h-[10vh] md:flex md:flex-row md:justify-between md:items-center">
        <div class="logo-page">
            <h1 class=" text-white md:font-medium md:text-lg md:text-center">🐓 {{logoPage}}</h1>
        </div>
        <nav class="hidden md:flex px-6 justify-center">
            <ul class="md:p-0 md:m-0 flex flex-row items-center gap-8">
                <li><a class="tracking-wide" href="#work">Work</a></li>
                <li><a class="tracking-wide" href="#about">About</a></li>
                <li><a class="tracking-wide" href="#cv">CV</a></li>
            </ul>
        </nav>
    </header>
    <main class="relative h-[90vh] w-full flex flex-col justify-center items-center">
        <div class="my-4">
            <h2 class="tracking-wide text-5xl font-semibold">
                Hi!, I'm Brian
            </h2>
        </div>
        <div class="pb-4">
            <p class="tracking-wide text-[18px] font-medium">
                Full Stack Developer based in Tandil, (Bs As, Argentina).
            </p>
        </div>
        <div class="w-[76%]">
            <p class="tracking-wide text-ms font-normal text-center">
                I am 24 years old and I consider myself a proactive, responsible and creative person. I am looking to collaborate in a great team, contribute ideas and learn from experienced professionals. I am always in constant learning.
            </p>
        </div>
        <div class="w-[76%] flex flex-col items-center pt-30 gap-6">
            <p class="tracking-wide text-ms font-normal text-center">
                What are you waiting for to get to know me better?
            </p>
            <mat-icon>arrow_downward</mat-icon>
        </div>
    </main>
</div>
<router-outlet />