@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-black-op {
    background-color: rgba($color: #1f3f17, $alpha: 0.4);
}
